__pycache__/
*.pyc
*.kicad_prl
*-backups/
fp-info-cache
fw/build/
hw/t1/fab/gerber/
hw/t1/*.dsn
*.lck
logs/
hw/t1/jlc/gerber/
hw/t1/panel/*.svg
hw/*/.*_placed.kicad_pcb
hw/*/.*_placed.kicad_pro
hw/*/.*_placed.kicad_dru
hw/*/*.dsn
hw/_t1try*/
hw/_rjtry*/
hw/*/.dogbone.rpt
hw/*/.stitch.rpt
hw/_t1stry*/
hw/*/fab/gerber/
hw/*/jlc/gerber/
hw/*/panel/*.svg
hw/*/panel/*_tabs.kicad_*
