__pycache__/
*.pyc
*.kicad_prl
*-backups/
fp-info-cache
fw/build/
hw/t1/fab/gerber/
hw/t1/*.dsn
*.lck
logs/
hw/t1/jlc/gerber/
hw/t1/panel/*.svg
hw/*/.*_placed.kicad_pcb
hw/*/.*_placed.kicad_pro
hw/*/.*_placed.kicad_dru
hw/*/*.dsn
